<div class="contact-container">
  <div class="contact-form-column">
    {%- render 'section-contact-form' -%}
  </div>

  <div class="sidebar-column">
    <div class="info-card">
      <div class="card-content">
        <p class="card-title">Check out FAQ Page</p>
        <p class="card-text">Find out answers to your questions immediately.</p>
        <a href="/pages/faqs" class="custom-button">Visit FAQ Page</a>
      </div>
      {% comment %}
      <div class="card-image">
        <img src="https://cdn.shopify.com/s/files/1/0794/4241/1864/files/Group_11.png?v=1717457917" class="image" />
      </div>
      {% endcomment %}
    </div>

    <div class="info-card">
      <div class="card-content">
        <p class="card-title">Chat With Us</p>
        <p class="card-text">Chat with our customer support team, Monday - Friday 9 AM to 5 PM (Eastern European Time).</p>
        <span style="cursor: pointer;" onclick="window.Superchat.open();" class="custom-button">Start Chat</span>
      </div>
      {% comment %}
      <div class="card-image">
        <img src="https://cdn.shopify.com/s/files/1/0794/4241/1864/files/Group_12.png?v=1717457918" class="image" />
      </div>
      {% endcomment %}
    </div>
  </div>
</div>

<style>
  .contact-container {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  
  .contact-form-column {
    width: 100%;
  }
  
  .sidebar-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    padding-top: 36px;
    padding-bottom: 36px;
    max-width: 400px;
    width: 100%;
  }
  
  .info-card {
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: #F1F1F1;
  }
  
  .card-content {
    flex: 1;
  }
  
  .card-title {
    margin: 0;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2em;
  }
  
  .card-text {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    line-height: 1.5em;
  }
  
  .custom-button {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0;
    margin-right: auto;
    font-weight: normal;
    font-size: 16px;
    text-align: start;
    text-decoration: none;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }
  
  .card-image {
    margin-left: 0.75rem;
  }
  
  .image {
    display: block;
    width: 100%;
    min-width: 100px;
    max-width: 125px;
  }
  
  @media (min-width: 768px) {
    .contact-container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      gap: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
    .card-title {
      font-size: 20px;
    }
    
    .card-text {
      font-size: 16px;
    }
    
    .custom-button {
      font-size: 18px;
    }
  }
</style>

{% schema %}
{
  "name": "t:labels.contact_form",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:info.all_submissions_sent_to_store_email"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:labels.title",
      "default": "Contact us"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:labels.heading_size",
      "default": "h2",
      "options": [
        {
          "value": "h3",
          "label": "t:labels.sizes.small"
        },
        {
          "value": "h2",
          "label": "t:labels.sizes.medium"
        },
        {
          "value": "h1",
          "label": "t:labels.sizes.large"
        },
        {
          "value": "h0",
          "label": "t:labels.sizes.extra_large"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_position",
      "label": "t:labels.heading_position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:labels.alignments.left"
        },
        {
          "value": "center",
          "label": "t:labels.alignments.center"
        },
        {
          "value": "right",
          "label": "t:labels.alignments.right"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:labels.text"
    },
    {
      "type": "checkbox",
      "id": "show_phone",
      "label": "t:actions.add_phone_number"
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "t:labels.narrow_column",
      "default": true
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:labels.color_scheme",
      "default": "1",
      "options": [
        {
          "value": "none",
          "label": "t:labels.none"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:labels.contact_form"
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.popups"]
  }
}
{% endschema %}
