.type-banner {
  flex: 1 0 100%;
}

.site-footer {
  background-color: #EFF0E9;
}
.footer__title {
  font-size: calc(var(--type-base-size)*1.2);
}
.footer__blocks {
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  gap: 50px;
}


/* PDP */

/* Reduce header sizes */
.product-block .rte h2 {
  font-size: calc(var(--type-base-size)* 1.4);
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.product-block .rte h3 {
  font-size: calc(var(--type-base-size)* 1.1);
  text-transform: uppercase;
  margin-bottom: 0.3em;
  margin-top: 1em;
}
.product-block .rte p {
  margin-bottom: 0.7em;
}
.product-block .rte ul li {
  list-style-type: disc;
}



 /* Make the quick shop button centered at the bottom */
.grid-product__actions {
  display: none;
}
@media screen and (min-width: 900px) {
  .grid-product__actions {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-product__actions > button.quick-product__btn {
    padding: 5px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .grid-product__actions {
    top: 50%;
  }
  .grid-product__actions > button.quick-product__btn {
    padding: var(--button-padding);
  }
}
  

.grid-product__actions > button,
  .grid-product__actions .quick-product__btn {
    display: block;
    margin-bottom: 5px;
  }


  /* for collection.no-sidebar template, show 4 product per row */
.template-collection-no-sidebar [data-view='medium'] .grid-item {
  flex: 0 0 25%;
}
@media only screen and (max-width: 768px) {
  .template-collection-no-sidebar [data-view='medium'] .grid-item {
    flex: 0 0 calc(100% / 3);
  }
}